html,body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 1rem;
}

header,
main,
footer {
    padding: 0 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    flex-direction: column;
}

@media (min-width: 600px) {
    header {
        flex-direction: row;
        overflow: hidden;
    }
}

ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    padding: 10px 0;
    display: inline-flex;
}

nav {
    display: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 600px) {
    nav { display: flex; }
}

main {
    background-color: var(--background);
    flex: 1;
    flex-direction: row;
    white-space: pre-line;
}
main div {
    padding: 20px 0;
}
main nav {
    white-space: nowrap;
    min-width: 150px;
    padding: 10px 10px 0 0;
    margin: 0;
}
main nav ul,
main nav ul li {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
main article {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}
main article nav {
    padding: 0 10px 0 0;
    margin: 0;
    min-width: unset;
}
section {
    padding: 10px 20px;
    text-align: right;
}

form {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 400px;
}
form * {
    margin: 10px 0 ;
}

footer {
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

footer div {
    flex: 1;
    text-align: center;
}
footer div:first-of-type {
    display: none;
}
@media (min-width: 600px) {
    footer {
        flex-direction: row;
    }
    footer div:first-of-type {
        display: block;
        text-align: left;
        padding-right: 10px;
    }
    footer div:last-of-type {
        text-align: right;
        padding-left: 10px;
    }
}