{{define "breadcrumb"}}
    {{ $size := len .Breadcrumb}}
    {{if gt $size 1 }}
        <nav>
            <ol>
                {{range $i, $p := .Breadcrumb}}
                    {{if $i}}/{{end}}
                    <li><a href="/{{$p.PageId}}">{{$p.Title}}</a></li>
                {{end}}
            </ol>
        </nav>
    {{end}}
{{end}}