{{define "sidebar"}}
    <nav>
        <ul>
            {{range .Children}}
                <li><a href="/{{.PageId}}">{{.Title}}</a></li>
            {{end}}
            <li><a href="/create/{{.PageId}}">+</a></li>
        </ul>
    </nav>
{{end}}