<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
{{template "header" .}}
<main>
    {{template "sidebar" .}}
    <article>
        {{template "breadcrumb" .}}
        <h2>{{.Title}}</h2>
        <p>{{.Body | html}}</p>
    </article>
</main>
{{template "page-tools" .}}
{{template "footer" .}}
</body>
</html>
